/* global styles */

body {
    background-color: whitesmoke;
    font-family:'Lucida Sans', sans-serif;
}

/* header */

header {
    background-color: white;
    margin: 2rem 4rem;
}

.lead-text {
    font-size: 1.5rem;
    font-weight: 300;
    margin: .4rem auto;
}